/* DOCUMENT-WIDE EDITS */

body {
    font-family: "Body-Menu-Font";
    /* font-size: 12pt; */
    overflow: auto;
    height: 95vh;
}

aside {
  flex: 1 0 10%;
}

main {
  overflow-y: auto;
  width: 100%;
}

.wrapper {
  display: flex;
  height: 100%;
}

/* JAVASCRIPT VIEWPORT */

#viewport {
    height: 75vh;
}

/* MENU ITEMS */

.menuItem {
  color:000000;
  text-decoration: none;
}

.menuItem:hover {
    font-family: "Hover-Font";
    color: #F8C471;
    /* color: #CCCCCC; */
}

ul {
  list-style: none;
  padding: 5px;
}

li {
  list-style: none;
  /* padding: 5px; */
}

/* IMAGE SIZE AND CLASSES  */

img {
  max-width: 75vw;
  max-height: 800px;
}

.render {
  max-width: 800px;
  max-height: 800px;
}

/* ADDED FONTS  */

@font-face {
    font-family: "Body-Menu-Font";
    src: url("fonts\\Anonymous.ttf");
}

@font-face {
    font-family: "Hover-Font";
    src: url("fonts\\eau_sans_book_obl.otf");
    font-weight: bold;
}
