.frame {
    margin: 0 auto;
    border-width: 0;
    border-style: solid;
    height: 75vh;
    width: 90vw;
}

.landingText {
  height: auto;
  width: 90vw;
  margin: 4vh auto;
  font-family: sans-serif;
  font-size: 24px;
}
